.main-footer {
    width: 100%;
    height: calc(48px * var(--scale));
    background-color: #00992D;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-footer > .grid {
    display: grid;
    grid-template-columns: 1fr calc(96.32px * var(--scale)) 1fr;
    height: 100%;
}

.main-footer > .grid > * {
    display: flex;
    align-items: center;
}

.main-footer .logo {
    width: calc(96.32px * var(--scale));
    height: calc(42.54px * var(--scale));
}

.main-footer .left {
    margin-left: calc(10px * var(--scale));
    display: flex;
    align-items: center;
    height: 100%;
}

.main-footer .arrow-icon {
    height: calc(37px * var(--scale));
    cursor: pointer;
}
.main-footer .home-icon {
    margin-left: calc(10px * var(--scale));
    height: calc(37px * var(--scale));
    cursor: pointer;
}

.main-footer .grid-icon {
    margin-left: calc(10px * var(--scale));
    height: calc(37px * var(--scale));
    cursor: pointer;
}
.main-footer .home-icon.first {
    margin-left: 0; 
}

.main-footer .arrow-icon.left {
}
.main-footer .arrow-icon.right {
    position: absolute;
    right: calc(20px * var(--scale));
}

.main-footer .footer-random {
    position: absolute;
    left: calc(213px * var(--scale));
}

.arrow-icon.disabled {
    opacity: .2
}