
.home {
    position: absolute;
}
.home-tj {
    width: calc(324.76px * var(--scale));
    height: calc(566.62px * var(--scale));
    position: absolute;
    left: calc(60px * var(--scale));
    top: calc(104px * var(--scale));
}