.game {
    background-color: white;
    width: 100%;
    height: 100%;
}
.game > .hint {
    position: absolute;
    left: calc(((1024px - 450px)/2) * var(--scale));
    top: calc(163px * var(--scale));
    width: calc(450px * var(--scale));
    height: calc(350px * var(--scale));
}

.game > .hint > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.game > .choices-container {
    position: absolute;
    top: calc(611px * var(--scale));
    width: 100%;
}
/*
.game .choices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc(21px * var(--scale));
    width: calc(950px * var(--scale));
    margin: 0 auto;
}
*/

/* The whole row of buttons */
.game .choices {
    display: flex;
    align-items: start;
    justify-content: center;
}

/* spacing between buttons */ 
.game .choices > *+* {
    margin-left: calc(21px * var(--scale));
}

/* button */
.green-button-game {
    width: calc(305px * var(--scale));
}

/* button text */
.green-button-game > * {
    font-size: calc(42px * var(--scale));
    line-height: calc(41px * var(--scale));
    text-align: center;
}

.green-button-game:hover {
    border-color: rgba(0,0,0,0);
}

.game > .answerText {
    position: absolute;
    color: #3AB54B;
    font-size: calc(76px * var(--scale));
    top: calc(512px * var(--scale));
    text-align: center;
    width: 100%;
}

.game .wrong {
    border-color: #e84141;
}

.game .correct {
    border-color: #FFFF01
}
