
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
    font-size: 8px; 
}
html,body {
	padding: 0;
	margin: 0;
  font-family: "ITC Kabel Std";
  overflow: hidden; 
  background-color: rgb(0, 0, 51);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

a {
	text-decoration: none;
}

@font-face {
  font-family: "ITC Kabel Std";
  src: url("%CDN_COMMON%/fonts/ITCKabelStd-Ultra.otf") format("opentype"),
    url("%CDN_COMMON%/fonts/ITCKabelStd-Ultra.ttf") format("truetype"),
    url("%CDN_COMMON%/fonts/ITCKabelStd-Ultra.woff") format("woff");
}